<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- ✅ تصريح الإنترنت -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EchoAndListApp"
        android:usesCleartextTraffic="true">

        <activity android:name=".feature.listnice.ListNiceActivity" />
        <activity android:name=".feature.echo.SpinnerEchoActivity" />
        <activity android:name=".feature.echo.TextEchoActivity" />
        <activity android:name=".feature.playground.Activity" />
        <activity android:name=".feature.playground.secondActivty" />
        <activity android:name=".feature.forms.RegistrationFormActivity" />
        <activity android:name=".feature.forms.RegistrationLiteActivity" />
        <activity android:name=".feature.forms.CustomFormActivity" />
        <activity android:name=".feature.chat.ChatActivity" android:exported="false"/>
        <activity android:name=".feature.links.LinksActivity" android:exported="false"/>
        <activity android:name=".feature.chat.ChatActivity2" android:exported="false"/>

        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
